(
{"en_GB" = "3KrH4DZBp4mVh7cwW2LqZA";},
{"sv_SE" = "ki2E9ldR4GqIdNqDxmuzYA";},
{"da_DK" = "uO7C-XVUfs_YCXTDAmvy7g";},
{"nb_NO" = "fGZF5aqkym2RG7csLS9eow";},
{"fi_FI" = "VXapwxvRLHyvS8xzKopXNg";},
{"es_ES" = "NrUATWNHLmKqLnX8uB5bKg";},
{"de_DE" = "uLN-WDGPwyPhFbgdAlLpcQ";},
{"fr_FR" = "PyvrPmL__VyfsX9Gbj7QgA";},
{"nl_NL" = "bd9Pp3ss3GoIF-KwtvXiTg";},
{"tr_TR" = "rs6-6l7BR-Nu7rnHx__Izw";},
{"pt_BR" = "r-usjennK-DHlunPUt6I2A";},
{"es_MX" = "xy1rqXpf-LqrCkhLzHsKhQ";},
)
